*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 350px;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    /* border: 1px solid black; */
    border-radius: 10px;
    text-align: center;
    
    box-shadow: 0px 0px 20px 2px rgba(244, 74, 40, 0.942);
}



input{
    width: 70%;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    /* border-color: dimgray; */
    border: 1px solid rgb(159, 159, 159);
    /* background-color: rgb(237, 237, 237); */
}

select{
    width: 70%;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    color: dimgray;
}

.sub{
    background-color: rgba(244, 74, 40, 0.942);
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: white;
}

.sub:disabled{
    background-color: black;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
}


.sub:hover{
    box-shadow: 0px 0px 10px 2px rgba(244, 74, 40, 0.942);

}

p{
    color: red;
    font-size: 13px;
    text-align: left;
    margin-left: 17%;
    
}

#imgfile{
    border: none;
}

